{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consilia</title>
    <link rel="stylesheet" href="{% static 'tasks/css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'tasks/images/icon-removebg.png' %}" type="image/x-icon"/>
</head>



<body>
  <div class="page-container">
 <header>
        <div class="site-name">
          <a href="{% url 'index' %}" class="logo-link" draggable="false">
            <img src="{% static 'tasks/images/icon-removebg.png' %}" alt="Logo" class="logo" draggable="false">
          </a>
          <span class="slogan">Consilia – your masterplan, one task at a time</span>

        </div>

     {% if user.is_authenticated %}
{#             <form method="post" action="{% url 'users:profile' %}" style="display: inline;">#}
{#        {% csrf_token %}#}
{#        <button type="submit" class="greeting">#}
{#            🙋 Hello, {{ user.username }}!#}
{#        </button>#}
{#    </form>#}
         <div class="greeting"><a href="{% url 'users:profile' %}">🙋 Hello, {{ user.username }}!</a> </div>
    <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="logout">
            Log out
        </button>
    </form>
     {% else %}
     <div class="login">
        <a href="{% url 'users:login' %}">Log in</a>
    </div>

     <div class="register">
        <a href="{% url 'users:register' %}">Register</a>
    </div>
    {% endif %}

    </header>

    <main class="content">

      {% block content %}
      {% endblock %}
    </main>

    <footer class="site-footer">
      <p>© 2025 Consilia Ltd — From chaos to conquest via questionable coding choices</p>
    </footer>
  </div>
</body>




</html>
