{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1>404 — page not found</h1>
<img id="error-image" class="animated-image" src="{% static 'tasks/images/okak.jpg' %}" alt="Страница не найдена">
    <p><a href="{% url 'index' %}">Go to mainpage</a></p>


{#    <script>#}
{#  window.addEventListener('DOMContentLoaded', function () {#}
{#    const image = document.getElementById('error-image');#}
{#    setTimeout(() => {#}
{#      image.classList.add('show');#}
{#    }, 100); // небольшая задержка для плавности#}
{#  });#}
{#</script>#}

{% endblock %}
