{% extends 'base.html' %}

{% block content %}

<p><strong>✏️{{ task.title  }}</strong></p>
    <br>
    {% if task.content %}
        <p>📋 {{ task.content }}</p>
    {% else %}
        <p style="font-style: italic;"> No additional details... </p>
    {% endif %}
    <br>
    {% if subtasks %}
        <p>📌Details:</p>
    {% for subtask in subtasks %}
        {% if subtask.is_done %}
        <ul>✳️{{ subtask.description}}</ul>
        {% else %}
        <ul>🔄 {{ subtask.description}}</ul>
        {% endif %}
    {% endfor %}
    {% endif %}


<form action="{% url 'edit_task' pk=task.pk %}" method="get" style="display:inline;">
    <button type="submit">Edit</button>
</form>

    <form action="{% url 'delete_task' pk=task.pk %}" method="get" style="display:inline;">
    <button type="submit">Delete</button>
</form>

    <a href="{% url 'index' %}" style="display:block; margin-top: 20px;">Back to homepage</a>


{% endblock %}